.container-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height:37.5rem;
    background-color: var(--preto2);
    /* background-image: url('../../../assents/imgs/carrossel/Fernando3.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
}

.background{
    display: flex;
    position: relative;
    padding-left: 4rem;
    align-items: center;
    justify-content: center;
}

.description_1{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container_search{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15rem;
    position: relative;
    margin-bottom: 10rem;
}

.description_1{
    top: -10rem;
    position: absolute;
    color: white;
}

.description_1 h1{
    font-family: 'Lobster', sans-serif;
    font-size: 5rem;
}

.search_text{
    height: 42px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    width: 30rem;
}


.search_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--azul);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    transition: opacity .4s linear;
}

.search_btn:hover{
    cursor: pointer;
    opacity: .9;
}

.lupa{
    padding: 5px;
}

  
#procurar::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
    height: 16px;
    width: 16px;
    border: 1px solid red;
    border-radius: 50%;
    cursor: pointer;
}

#procurar:focus {
    outline: none;
    border: 1px solid var(--azul);
}

.container_persons{
    display: flex;
    align-items: center;
    justify-content: center;

}

.fernando{
    height: 483px;
    width: 392px;
    position: relative;
    top: 3.7rem;
}






.container_devs{
    border-radius: 1600px;
    width: 300px;
    right: 1rem;
    position: absolute;
    top: 33rem;
    border: 1px solid hsla(0,0%,100%,.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(5px);
}

.devs{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.devs p{
    font-size: 14px;
}

.mini_img{
    left: -1rem;
    position: relative;
    height: 42px;
    width: 42px;
    border:1px solid;
    border-radius: 50%;
    background-image: url('../../../assents/imgs/carrossel/fernando.png');
    background-size: cover;
    background-repeat: no-repeat;
}










body{
    background-size: cover;
    object-fit: cover;
}



.container-image{
    position: relative;
    display: flex;
    justify-content: center;
    width: 73rem;
    top: 80px;
    object-fit: cover;
}

.container-image img{
    width: 79rem;
    height: 32rem;
    object-fit: cover;
}

.slide{
    opacity: 0;
    transition: opacity .5s linear;
    position: absolute;
    width: 100%;
    border-radius: 10px;
    top: -19rem;
}

.on{
    opacity: 1;
}

#voltar-btn{
    transform: rotate(180deg);
}

#voltar-btn, #prox-btn{
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 50px;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    z-index: 5;
    top: 320px;
    position: relative;
    display: none;
}


#voltar-btn img, #prox-btn img{
    width: 100%;
    height: 100%;
}

.container-bola{
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 10;
}

.bola{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid black;
    z-index: 10;
    margin: 0.3rem;
    cursor: pointer;
    transition: background-color .3s linear;
}

.bola:hover{
    background-color: white;
}

  .ball-background {
    background-color: white;
  }

  .container-bola{
    background-color: var(--preto2);
    top: -10px;
    position: relative;
  }

  .container_img2{
    display: none;
  }

  .container_retangulo{
    display: none;
  }


  @media (max-width:604px){
    .search_text{
        width: 15rem;
        margin-top: 2rem;
    }

    .search_btn{
        margin-top: 2rem;
        margin-right: 1rem;
    }

  }


  @media (max-width: 1288px){
    .container-image, .container-bola{
        display: none;
    }

    .container-slide{
        background-size: cover;
        object-fit: cover;
    }

    .container_img2{
        display: block;
        position: relative;
        width: 100%;
    }

    .container_img2 img{
        height: 500px;
        width: 100%;
        margin-top: 4.4rem;
    }



  }

  @media (max-width: 2000px){ 
    .background{
        left: 0;
    }

    .fernando{
        top: 5.5rem;
    }

  }


  @media (max-width:1288px){
    .container_persons{
        display: none;
    }

    .container_devs{
        display: none;
    }

    .background{
        margin-right: 2rem;
    }


  }
